<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a768343406.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/login.css">
    <title>Classroom</title>
</head>

<body>
    <nav>
        <div class="leftSide">
            <i class="fa-solid fa-bars-staggered" id="bar"></i>
            <h1 class="navText">Classroom</h1>
        </div>
        <div class="menu">
            <i class="fa-solid fa-xmark" id="cross"></i>
            <a href="" class="menuItem"><i class="fa-solid fa-house"></i> Classes</a>
            <a href="" class="menuItem"><i class="fa-regular fa-calendar"></i> Callender</a>
            <a href="" class="menuItem"><i class="fa-solid fa-box-archive"></i> Archived Classes</a>
            <a href="" class="menuItem"><i class="fa-solid fa-gear"></i> Settings</a>
        </div>
        <div class="rightSide">
            <a href="login.html" class="registeration">Log in</a>
            <a href="register.html" class="registeration">Sign up</a>
        </div>
    </nav>
    <section>
        <div class="left">
            <h1 class="subText">Log in to the Classroom</h1>
            <form action="">
                <p class="inputText">Please enter your Email</p>
                <input type="email">
                <p class="inputText">Please enter your Password</p>
                <input type="password">
                <a href="home.html" class="login">log in</a>
            </form>
        </div>
        <div class="right">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


            <lottie-player src="https://lottie.host/15483b5d-2a2b-4b08-9a2d-88ca5aa174cf/H77jKT2NCe.json"
                background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
    </section>
    <script src="script/common.js"></script>
</body>

</html>